        <div class="frame">
            <div class="UI-wrapper">
                <div class="UI">
                    <div class="overlap-wrapper">
                        <div class="overlap">
                            <div class="background"></div>
                            <div class="navbar">
                                <div class="version">{{version}}</div>
                                <div class="ipaddr">{{ipAddr}}</div>
                                <div class="vehice-make">{{makeCar}}</div>
                                <div class="joy-avmode">{{modeDBW}}</div>
                                <div class="state">{{stateDBW}}</div>
                            </div>
                            <img class="rectangle" src="../assets/roshai.png" />
                            <div class="brakes">
                                <img class="img" src="../assets/brakes.png" />
                                <div class="text-wrapper">{{brakeData}}</div>
                            </div>
                            <div class="accelerator">
                                <div class="overlap-group">
                                    <img class="rectangle-2" src="../assets/accelarator.png" />
                                    <div class="div">{{acceleratorData}}</div>
                                </div>
                            </div>
                            <div class="steering">
                                <img class="rectangle-3" src="../assets/steering.png" />
                                <div class="text-wrapper-2">{{steeringData}}</div>
                            </div>
                            <div class="ERRORCODE">
                                <div class="text-wrapper-3">{{nerr}}</div>
                                <div class="text-wrapper-4">{{iferr}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
